<!DOCTYPE html>
<html>
    <head>
        <title>I'm the Brave</title>
        <link href="css/main_style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="images/LOGO.png"></a>
            </div>
        </div>

        <div class="content">
             <div >
                <h1>『我是勇者』</h1><h3>2D橫向捲軸動作遊戲</h3>
                <p>
                    平台：行動裝置(Android)
                </p>
                <p>
                    當畫面上的指令按鈕，不再是固定不動，是會被敵人弄得措手不及、還是會讓操作完全掌握在自己手中呢？超出常理的指令式動作遊戲！
                </p>
            </div>
        </div>
        
        <div class="footer">
             <div class="menu">
                <ul>
                    <li><a href="/story">STORY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/char">CHARACTER</a></li>
                    <li><a href="/chat">COMMENT</a></li>
            </div>
        </div>
    </body>
</html>