<!DOCTYPE html>
<html>
    <head>
        <title>I'm the Brave</title>
        <link href="css/main_style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="images/LOGO.png" ></a>
            </div>
        </div>

        <div class="content">
            <div class="char">
                <img src="images/sticker01.jpg" >
                <h3>基爾</h3>
                <p>
                    主角之一，勇者冒險團最強的成員，卻沒什麼自信。在一次魔王討伐任務中失敗，仍被村民們推崇為勇者。<br />為了回報村民，決定再次啟程討伐魔王、並確認自己有無資格配上勇者的稱號。
                </p>
            </div>
            <div class="char">
                <img src="images/sticker02.jpg">
                <h3>可洛</h3>
                <p>
                    主角之一，從小崇拜勇者的事蹟，夢想成為一位受人尊敬的勇者。喜歡幫助別人，卻常常把事情搞砸，所以沒什麼朋友。<br />即使如此，她也不會感到氣餒，相信總有一天，會受到大家的崇拜。為了成為勇者而踏上了旅程。
                </p>
            </div>
        </div>
        
        <div class="footer">
             <div class="menu">
                <ul>
                    <li><a href="/story">STORY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/char">CHARACTER</a></li>
                    <li><a href="/chat">COMMENT</a></li>
            </div>
        </div>
    </body>
</html>