<!DOCTYPE html>
<html>
    <head>
        <link href="css/main_style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
		<script src="js/ejs_production.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="images/LOGO.png"></a>
            </div>
        </div>

        <div class="content">  
            <div id="usernew">
				<%- include('form'); %>
			</div>
			<div id="userinfo">
				<%- include('persons'); %>
			</div>
			<div id="userupdate"></div>
			<script src="js/script.js"></script>
        </div>

        <div class="footer">
             <div class="menu">
                <ul>
                    <li><a href="/story">STORY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/char">CHARACTER</a></li>
                    <li><a href="/chat">COMMENT</a></li>
        </div>
        </div>        
    </body>
</html>