<h1>留言</h1>
<div class='name'>名字：</div> <input type="text" id="name" name="name" /><br />
<div class='name'>訊息：</div> <input type="text" id="comments" name="comments" /><br />
<button class="btn-post">送出</button>
