<!DOCTYPE html>
<html>
    <head>
        <title>I'm the Brave</title>
        <link href="css/main_style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
    </head>
    <body>
        <div class="header">
            <div class="logo">
                <a href="/"><img src="images/LOGO.png"></a>
            </div>
        </div>

        <div class="content">
            <div >
                <h1>魔王與勇者</h1>
                <p>
                    在人類與魔物相爭的時代，魔王為人類帶來了恐懼、而挺身和魔王對抗的勇者締造了傳說。在和平來臨之前，冒險者們也依然在追尋著勇者。
                </p>
            </div>
        </div>
        
        <div class="footer">
             <div class="menu">
                <ul>
                    <li><a href="/story">STORY</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/char">CHARACTER</a></li>
                    <li><a href="/chat">COMMENT</a></li>
            </div>
        </div>
    </body>
</html>