<h1>編輯</h1>
<div class='name'>名字：</div> <input type="text" placeholder="<%= userinfo['name'] %>" id="name0"/><br />
<div class='name'>訊息：</div> <input type="text" placeholder="<%= userinfo['comments'] %>" id="comments0"/><br />
<button class="btn-update" name=<%= userinfo['_id']%>>Update</button>
